#root {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  text-align: center;
  /* flex-wrap: wrap; */
}

.card {
  border-radius: 1rem;
  border-color: #0ee3e3;
  border-style: solid;
  /* border: 1px solid; */
  padding: 10px;
  box-shadow: 1px 0px 9px 2px;
}

h1{
  
}

.map-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}